.calc{
    width: 350px;
    height: 457px;
    background-color:rgb(186, 79, 100);
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
}

.screen{
    width: 350px;
    height: 80px;
    background-color: white;
    text-align: end;
    font-size: 50px;
    line-height: 80px;
    border-radius: 15px;
}

.buttons{
    margin-top: 50px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.number{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.btn{
    width: 70px;
    height: 70px;
    background-color:cadetblue;
    color: white;
    font-size: 40px;
    cursor: pointer;
    border: 0;
    border-radius: 15px;
}

.operator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#equal{
    background-color: rgb(204, 204, 42);
}

#clear{
    background-color:rgb(149, 222, 76);
}

.btn:hover{
    background-color: white;
    color: black;
}

#clear:hover{
    background-color: white;
}

#equal:hover{
    background-color: white;
}